<template>
  <div class="card has-margin-bottom--2 is-bordered">
    <h4 class="card-title">Request Nutrition Data Access</h4>
    <div class="card-content has-padding--2">
      <p>In order to view your clients nutrition data, they have to share it with you.</p>
      <p>To ask them to, search by email or phone number and click the "Request Nutrition Sharing" option</p>
      <form id="dataRequestForm" data-abide novalidate onSubmit="return false;">  
        <div class="row">    
        <div class="columns small-12 medium-8">
          <input type="text" placeholder="Clients cellphone or email address" v-model="query" required />
            <span class="form-error">
              Provide an email or a phone number
            </span>                  
        </div>
        <div class="columns small-12 medium-4">
          <a href="#" class="button expand-on-small button-primary" v-on:click.prevent="clientSearch">Search For Client</a>
        </div>
        </div>
      </form>
    </div>
  </div>

<div class="reveal card" id="searchResultModal" data-reveal>
   <h4 class="card-title">{{searchResult.header}}</h4>
   <div class="card-content has-padding-top--2">
      <div class="callout alert" v-show="searchResult.error">
        <p>{{searchResult.error_message}}</p>
      </div>
      <div class="row" v-show="!searchResult.error">
        <div class="columns small-12 medium-6">
          <strong>{{searchResult.clientName}}</strong>          
        </div>
        <div class="columns small-12 medium-6 text-right">
          <a href="#" class="button success expand-on-small" v-on:click.prevent="requestSharing()">Request Nutrition Sharing</a>
        </div>
      </div>
      <hr/>
      <p class="text-center"><a href="#" class="button secondary expand-on-small" v-on:click.prevent="dismissModal()">Cancel</a></p>
  </div>
</div>

<div class="reveal card" id="shareRequestSent" data-reveal>
   <h4 class="card-title">Sharing Request Sent</h4>
   <div class="card-content has-padding-top--2">
      <div class="callout success">
        <p>{{searchResult.clientName}} has been notified. When your request is accepted, you'll be notified via email and able to see their nutrition data on this screen.</p>
      </div>
      <hr/>
      <p class="text-center"><a href="#" class="button success expanded" v-on:click.prevent="dismissModal()">Ok</a></p>
  </div>
</div>

</template>

<script>
  export default {
    data() {
      return {
      	user: {},
        endpoint: "https://api.fext.co/v1/",
        query: '',
        searchResult: {error: false, error_message: '', header:'', clientName:''}                
      }
    },
    ready(){    	
    	this.loadData();    
    },
    methods: {
      loadData(){
        this.user = JSON.parse(localStorage.getItem('fext_user'));
      },
      clientSearch(){

        var valid = $('#dataRequestForm').foundation('validateForm');

        if(!$('.form-error.is-visible').length){     
          let url = this.endpoint + 'share/search';
          let postData = {
            query: this.query
          };
          this.$http.post(url, postData).then((data)=>{
            let result = data.data;
            this.searchResult.header = 'Confirm Fext User as Client';
            this.searchResult.clientName = result.data.user[0].firstName +' '+result.data.user[0].lastName;
            this.searchResult.clientId = result.data.user[0].id;
            $('#searchResultModal').foundation('open');
          },(error)=>{
            let result = error.data;            
            if(error.status == 400){
              this.searchResult.header = 'Fext User Not Found';
              this.searchResult.error = true;
              this.searchResult.error_message = result.data.message+': '+ result.data.query;             
            }
            if(error.status == 404 || error.status == 500){
              this.searchResult.header = 'Fext System Error';
              this.searchResult.error = true;
              this.searchResult.error_message = "A system error occurred while searching. Please try again in a few moments"
            }
            $('#searchResultModal').foundation('open');
          });           
        }
      },
      requestSharing(){
        let url = this.endpoint + 'share/request';
        let postData = {
          client: this.searchResult.clientId,
          coach: this.user.id
        }
        this.$http.post(url, postData).then((data)=>{
          let result = data.data;
          document.dispatchEvent(new Event('shareRequestSent'));
          $('#shareRequestSent').foundation('open');
        },(error)=>{
          let result = error
            if(error.status == 404 || error.status == 500){
              this.searchResult.header = 'Fext System Error';
              this.searchResult.error = true;
              this.searchResult.error_message = "A system error occurred while requesting nutrition sharing. Please try again in a few moments"
            }else{
              this.searchResult.header = 'An Error Occurred';
              this.searchResult.error = true;
              this.searchResult.error_message = "There was an error trying to request nutrition data sharing. Please try again in a few moments";
            }          
        });
        
      },
      dismissModal(){
        $('#searchResultModal').foundation('close');
        $('#shareRequestSent').foundation('close');
      }
    }

  }
</script>