$levels: (
  '0': 0,
  '1': 10,
  '2': 20,
  '3': 30,
  '4': 50,
  '5': 60
);

//padding
@each $level, $multiplier in $levels {
 .has-padding--#{$level}{ 
 	padding: $multiplier * 1px; 
 }
.has-padding-top--#{$level}{
 	padding-top: $multiplier * 1px; 
 } 
.has-padding-bottom--#{$level}{
 	padding-bottom: $multiplier * 1px;
 }
.has-padding-left--#{$level}{
 	padding-left: $multiplier * 1px;
 }
.has-padding-right--#{$level}{
 	padding-right: $multiplier * 1px;
 }    
}


//margin
@each $level, $multiplier in $levels {
 .has-margin--#{$level}{
 	margin: $multiplier * 1px;
 }
.has-margin-top--#{$level}{
 	margin-top: $multiplier * 1px;
 }
.has-margin-bottom--#{$level}{
 	margin-bottom: $multiplier * 1px;
 }
.has-margin-left--#{$level}{
 	margin-left: $multiplier * 1px;
 }
.has-margin-right--#{$level}{
 	margin-right: $multiplier * 1px;
 }    
}

//box-shadows
.has-box-shadow{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.has-box-shadow--bottom{
	box-shadow: 0 6px 4px -4px darken(map-get($console-palette,primary),10);
}

//width
@for $i from 1 through 100 {
	.has-width--#{$i}{
		width: percentage($i/100);
	}
}

//gradients
.has-background-gradient{
  background: #19b2d1; /* Old browsers */
  background: -moz-linear-gradient(top,  #19b2d1 0%, #2972b2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #19b2d1 0%,#2972b2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #19b2d1 0%,#2972b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b2d1', endColorstr='#2972b2',GradientType=0 ); /* IE6-9 */
}

.has-background-gradient--inverted{
  background: #2972b2; /* Old browsers */
  background: -moz-linear-gradient(top,  #2972b2 0%, #19b2d1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2972b2 0%,#19b2d1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2972b2 0%,#19b2d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2972b2', endColorstr='#19b2d1',GradientType=0 ); /* IE6-9 */
}

//other
.custom-grid--20{
  @include breakpoint(medium){
    width: 20%;
    float: left;    
    padding: rem-calc(0 12);  
  }

}

.has-text-color-success, .positive{
  color: map-get($foundation-palette,'success');
}
.has-text-color-alert, .negative{
  color: map-get($foundation-palette,'alert');
}