<template>
  <div class="has-padding-top--1">     
     <input type="text" name="Body" placeholder="Add food or body metric..." v-model="searchTerm" v-on:keyup.enter="search()"/>
  </div> 

<div class="reveal card" id="addFoodResultModal" data-reveal>
   <h4 class="card-title">Fexter says...</h4>
   <div class="card-content has-padding-top--2">
      <p>{{resultMessage}}</p>
      <p class="text-center"><a href="#" class="button success" v-on:click.prevent="dismissModal()">Ok</a></p>
  </div>
</div>

</template>

<script>
  export default {
    data() {
      return {
      	user: {},
        endpoint: "https://api.fext.co/v1/",        
        loading: true,
        searchTerm: '',
        searching: false,
        resultMessage: ''
      }
    },
    ready(){    	
    	this.user = JSON.parse(localStorage.getItem('fext_user'));
    },
    methods: {
      
      search(){        
        if(!this.searching){
          let url = this.endpoint + 'sms/reply';
          let data = {
            From: this.user.cellphone,
            Body: this.searchTerm,
            Text: this.searchTerm            
          }
          this.$http.post(url,data).then((response)=>{            
            let result = ( new window.DOMParser() ).parseFromString(response.body, "text/xml");
            let message = result.getElementsByTagName('Message');
            this.$set('resultMessage',message[0].textContent);
            document.dispatchEvent(new Event('addFoodSuccess'));
            this.searchTerm = '';
            $('#addFoodResultModal').foundation('open');
            this.searchTerm = '';
          },(error)=>{
            //console.error(error);
          });          
        }

      },
      dismissModal(){
        $('#addFoodResultModal').foundation('close');
      }

    }

  }
</script>