<template>
<div v-show="loading">
	<div class="text-center">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw loading-icon"></i>
	</div>
</div>
<div v-show="!loading">
	<div v-show="!days.length"> 
		<div class="row has-padding--2">
			<div class="callout warning">
				<p>You haven't logged any food yet, give it a try using the search bar above or text Fexter what you ate.</p>
			</div>
		</div>
	</div>

	<div class="columns small-12 medium-4" v-for="item in days" v-bind:class="{ 'end': $index === (days.length-1) }" v-if="history[item.key]">
		<div class="card">
			<h4 class="card-title">{{history[item.key].formatted_eaten_at}}</h4>
			<div class="card-content">		
				<div class="foodLogItem-stats">
					<div class="row foodLogItem-stat__calories">
						<div class="columns small-6">Calories</div>
						<div class="columns small-6 text-right">{{history[item.key].totals.calories}}</div>
					</div>
					<div class="row foodLogItem-stat__macro">
						<div class="columns small-9">
						  <div class="progress">
			                <span class="meter is-{{history[item.key].percents.protein}}-primary">
			                      <p class="label">Protein - {{history[item.key].totals.protein}}</p>
			                </span>
			              </div>					
						</div>
						<div class="columns small-3 text-right">{{history[item.key].percents.protein}}%</div>
					</div>
					<div class="row foodLogItem-stat__macro">
						<div class="columns small-9">
						  <div class="progress">
			                <span class="meter is-{{history[item.key].percents.carbs}}-secondary">
			                      <p class="label">Carbs - {{history[item.key].totals.carbs}}</p>
			                </span>
			              </div>					
							
						</div>
						<div class="columns small-3 text-right">{{history[item.key].percents.carbs}}%</div>
					</div>
					<div class="row foodLogItem-stat__macro">
						<div class="columns small-9">
						  <div class="progress">
			                <span class="meter is-{{history[item.key].percents.fat}}-tertiary">
			                      <p class="label">Fat - {{history[item.key].totals.fat}}</p>
			                </span>
			              </div>										
						</div>
						<div class="columns small-3 text-right">{{history[item.key].percents.fat}}%</div>
					</div>							
				</div>	
				<a href="/history/{{history[item.key].link_date}}" class="button primary expanded" data-trackable data-track-category="Food Log" data-track-label="View Daily Details" >Details</a>	 		
			</div>
		</div>
	</div>
</div>

</template>


<script>
  export default {
    data() {
      return {
      	endpoint: "https://api.fext.co/v1/",
      	user: {},
      	loading: true,
      	history: {},
      	days: [] 
      }
    },
    ready(){    	
    	//todo: factor this local storage load out to a Vue mixin
    	this.user = JSON.parse(localStorage.getItem('fext_user'));
    	
    	//todo: either factor this out to mixin that takes params
    	//or use a seperate Vue object like a message bus...so bus.$emit/bus.$on
		if (document.addEventListener) {
		  document.addEventListener('addFoodSuccess', this.loadData); 
		} else if (document.attachEvent)  { 
		  document.attachEvent('addFoodSuccess', this.loadData);
		} 

		this.loadData(); 
    	

    },
    methods: {
    	loadData(){
	    	this.$http.get(this.endpoint + 'users/'+this.user.id+'/history').then((response)=>{
	    		let result = response.json();
	    		this.days = result.data.days;
	    		this.history = result.data.history;
	    		this.loading = false;

	    	},(error)=>{
	    		//Note to Connor, this is a mixin so all components can use it
	    		this.logAndDisplayError(error);
	    	});
    	}
    }

  }

</script>