a{
	&.button{
		font-weight: 700;
	}
}

button{
	font-weight: 700;
}

input[type='submit']{
	font-weight: 700;
}

.reveal{
	outline: none !important;
}

.button{
	&.expand-on-small{
		@include breakpoint(small only) { 
		 width: 100%;
		 display: block;
		}
	}
}
