.card{
	//box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
	background: #fff;
	&.is-bordered{
		box-shadow: none;
		border: 1px solid rgba(0,0,0,0.16)
	}
	.card-title{
		font-weight: 300;
		border-bottom: 1px solid #ccc;
		padding: rem-calc(10);
		font-size: rem-calc(18);
		margin: 0;		
	}
	.card-content{
		.button{
			font-weight: 700;
		}
	}

	&.dashboardWidget{
		.card-title{
			font-weight: 700;
			font-size: rem-calc(14);
			text-transform: uppercase;
			color: $dark-gray;
			border-bottom: none;
		}
	}
}