.charts{
	header{
		color: #fff;
	}
}

.stat{
	small{
		color: $dark-gray;
		font-size: rem-calc(20);
		.percent{
			font-size: rem-calc(24);
			color: $medium-gray;
			padding-left: rem-calc(10);
		}
	}
}

.statList-label{
	padding-top: rem-calc(10);
	font-weight: bold;
}

.no-macro-data{
	color: #fff;
}

.onboardingModal{
	border: none;
	.photoFrame{
		img{
			width: 100%;
			height: auto;
		}
	}
	.onboardingContent{
		color: $white;
		.button.hollow{
			 border-color: $white;
			 color: $white;			
			&:hover{
				background: rgba(255,255,255,0.25);
			 	border-color: $white;
			 	color: $white;
		  }
		}
	}
}