.foodLogItem-stats{
	padding: rem-calc(20 15); 
}

.foodLogItem-stat__calories{
	font-size: rem-calc(22);
	font-weight: 700;
	color: #000;
	padding-bottom: rem-calc(10);
}
.foodLogItem-stat__macro{
	margin-bottom: rem-calc(5);
}


.progress {
  	overflow: hidden;
  	background: none;
  	font-size: rem-calc(16);
  	height: 30px;
  	margin: 0;

	.meter {
	  position: relative;
	  float: left;
	  min-width: 1%;
	  height: 30px;   
	}

	.label {
	  position: absolute;
	  top: 50%;
	  left: 0;
	  transform: translate(0, -50%);
	  margin: 0;
  	  font-size: rem-calc(16);	 
  	  text-align: left; 
  	  background: none;
	}
}

@function progress-text-color($i,$x) {
  	@if $i <= $x { @return #565656 }
  	@else { @return #565656 }
}

@for $i from 0 through 100 {

  .meter{
	&.is-#{$i}-primary{		
		width: percentage($i/100);
		background: map-get($foundation-palette, primary);
		.label{
			color: progress-text-color($i,42);
			@include breakpoint(medium){
			  color: progress-text-color($i,75);
			}
			@include breakpoint(large){
			  color: progress-text-color($i,32);
			}			
		}		
	}
	&.is-#{$i}-secondary{		
		width: percentage($i/100);
		background: map-get($foundation-palette, secondary);
		.label{
			color: progress-text-color($i,37);
			@include breakpoint(medium){
			  color: progress-text-color($i,64);
			}
			@include breakpoint(large){
			  color: progress-text-color($i,29);
			}	
		}		
	}
	&.is-#{$i}-tertiary{		
		width: percentage($i/100);
		background: map-get($foundation-palette, tertiary);
		.label{
			color: progress-text-color($i,29);
			@include breakpoint(medium){
			  color: progress-text-color($i,50);
			}
			@include breakpoint(large){
			  color: progress-text-color($i,22);
			}		
		}
	}
  }
}

 