.login-logo{
	margin-top: rem-calc(50);
	margin-bottom: rem-calc(50);
	@include breakpoint(medium){
		margin-top: rem-calc(100);
	}
	@include breakpoint(large){
		margin-top: rem-calc(150);
	}
}

.login-form {
  border: 1px solid $medium-gray;
  background: #fff;
}