.off-canvas-wrapper-inner{height: 100%;}
.off-canvas-wrapper-inner .off-canvas{
	height:100%; 
	background: map-get($console-palette,primary);
} 

.off-canvas-wrapper{
	height: 100%;
}

.navHeader{
	background: map-get($console-palette,secondary);
}

.mobileNavTrigger{
	font-size: rem-calc(20);
}

.appNavigation{
	ul{
	margin-top: rem-calc(30);		
		li{
			list-style: none;
			margin-bottom: rem-calc(20);
		}
	}
	a{
		color: #ccc;
		display: block;
		transition: all 0.2s ease-in;
		font-size: rem-calc(18);
		&:hover{
			color: #fff;
		}
		&.selected{
			color: #fff;
			font-weight: bold;
		}
	}
}