.searchBar{
	background: map-get($console-palette,tertiary);
	color: #ccc;
	input{
		color: #ccc;
		background: none;
		border: none;
		box-shadow: none;
		&:focus{
			background: none;
			border: none;
			box-shadow: none;
		}
	}
	a{
		font-weight: bold;
		color: #ccc;
		transition: all 0.2s ease-in;d
		&:hover{
			color: #fff;
		}
	}
} 