.listingTable{
	thead{
		background: #fff;
		border-bottom-color: darken(#f1f1f1,10);
		th{
			background: none;
			text-transform: uppercase;
			font-size: rem-calc(12);
			color: $dark-gray;
			&:first-child{
				color: $body-font-color;
				font-size: rem-calc(26);
				font-weight: 300;
				text-transform: none;
			}			
		}
	}
	tbody{
		tr{
			&:nth-child(even){
				background: none;
			}
		}
		td{
			border-bottom: 1px solid #f1f1f1;
			&:first-child{
				font-weight: 700;
			}
		}
		label{
			text-transform: uppercase;
			font-size: rem-calc(12);
			color: $dark-gray;			
		}
	}
	.actionIcons{
		a{
			font-size: rem-calc(24);
			color: $medium-gray;
			margin-right: rem-calc(8);
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				color: map-get($foundation-palette,primary);
			}
		}
	}
}